@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
body{
    background-color: aqua;
    color:black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
    font-family: Oswald

}

button{
    background-color: #64a712;
    color: green
    font-family Montagu Slab

}

.passo{
    display: none;
}
.passo.ativo{
    display: block;
}

main{
    text-align: center;
    max-width: 90%
}

img{
    max-widht: 90%;
}

h1{
    color: rgb(135, 9, 173);
    background-color: white
    border: black solid 4px;
}