
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
body{
    background-color: aqua;
    color:black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
    font-family: Oswald

}

button{
    background-color: #64a712;
    color: green
    font-family Montagu Slab

}